.page-title {
    h1 {
        margin: $margin-md 0 0 0;
        padding: 0;
        font-size: $font-xl;
    }

    hr {
        margin: $margin-sm 0 $margin-md 0;
        border: none;
        border-top: $default-border;
        border-color: var(--text);
        opacity: 0.4;
    }
}

.search-results-main {
    position: fixed;
    top: calc($navbar-height + $border-size-md);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background);
    z-index: $z-5;
    display: none;

    .results-body {
        border: $default-border;
        margin: $margin-lg;
        height: calc(100% - #{$margin-lg * 2});
        border-radius: $border-radius-xs;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-auto-rows: 200px;
        gap: $gap-sm;
        place-items: center;

        p {
            @include position-center(true, true);
            margin: 0;
            padding: 0;
            font-size: $font-xl;
        }
    }
}