// Define theme maps
$themes: (
    light: (
        text: #0c120e,
        background: #f9fbfa,
        primary: #689d7b,
        secondary: #a3c3be,
        accent: #88acb1
    ),
    dark: (
        text: #edf3ef,
        background: #040605,
        primary: #639776,
        secondary: #3c5d58,
        accent: #2f474b
    )
);

// Mixin to apply theme styles
@mixin theme($theme) {
    $theme-map: map-get($themes, $theme);
  
    // Loop through the theme map and apply styles
    @each $key, $value in $theme-map {
        --#{$key}: #{$value};
    }
}

// Borders
$border-size: 1px;
$border-size-lg: 2px;
$border-radius: 6px;
$border-radius-lg: 12px;

// Transitions
$transition-slow: 0.4s;
$transition: 0.3s;
$transition-fast: 0.2s;

// Spacing
$spacing: 1rem;

$padding-xs: 0.25 * $spacing;
$padding-sm: 0.5 * $spacing;
$padding: $spacing;
$padding-md: 2 * $spacing;
$padding-lg: 4 * $spacing;

$margin-xs: 0.25 * $spacing;
$margin-sm: 0.5 * $spacing;
$margin: $spacing;
$margin-md: 2 * $spacing;
$margin-lg: 4 * $spacing;

// Fonts
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}

$font-family: 'Nunito';