{% extends "base.html" %}

{% block title %} Cinematica | Register {% endblock %}

{% block content %}
    <form action="{% url 'core:register' %}" method="post" class="auth-form">
        {% csrf_token %}
        <h2 class="title">Register</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <div class="input-group">
            <input class="input" type="text" name="username" id="username" placeholder="Username" required>
            <input class="input" type="email" name="email" id="email" placeholder="Email" required>
            <input class="input" type="password" name="password" id="password" placeholder="Password" required>
            <input class="input" type="password" name="password2" id="password2" placeholder="Confirm Password" required>
        </div>
        <input type="submit" value="Register" class="btn submit">
        <hr>
        <p class="alt-option">Already have an account? <a href="{% url 'core:login' %}">Login</a></p>
    </form>
{% endblock %}