@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.ttf") format("truetype");
}
body {
  padding: 60px 0 0 0;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: var(--background);
}
.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar .collapse {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar-menu .nav-item:hover .nav-link {
  color: var(--primary);
}
.navbar .tools {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .tools .theme-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--accent);
  border-radius: 6px;
}
.navbar .tools p span {
  color: var(--primary);
}
.navbar .tools p a {
  color: var(--accent);
}
.navbar .tools p a:hover {
  text-decoration: underline;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo-slide {
  animation: slideIn 1s ease-out forwards;
  margin-top: 10px; /* Adjust to move it down */
  margin-left: 20px; /* Adjust to move it right */
  height: 80px; /* Ensure the correct height */
}

.auth-form {
  width: 275px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent);
}
.auth-form .form-group {
  display: flex;
  flex-direction: column;
}
.auth-form .form-group input {
  border: none;
  height: 33px;
  border: 1px solid var(--accent);
  border-bottom-width: 0.5px;
  border-top-width: 0.5px;
  padding: 0 0.5rem;
  outline: none;
  background-color: var(--primary);
  color: var(--text);
}
.auth-form .form-group input::placeholder {
  color: var(--text);
  opacity: 0.85;
}
.auth-form .form-group input:first-child {
  border-radius: 6px 6px 0 0;
  border-top-width: 1px;
}
.auth-form .form-group input:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom-width: 1px;
}
.auth-form .form-group input:focus {
  outline: 2px solid var(--accent);
  z-index: 10;
}
.auth-form input[type=submit] {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  align-self: center;
  background-color: var(--secondary);
  color: var(--text);
  align-self: center;
  border: 1px solid var(--accent);
}
.auth-form input[type=submit]:hover {
  scale: 1.1;
}
.auth-form .form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin: 0;
  padding: 1rem 0;
}
.auth-form .alert {
  text-align: center;
  padding: 0 0 1rem 0;
  color: rgb(245, 74, 74);
}
.auth-form hr {
  margin: 1rem 0;
  border: 0.5px solid var(--accent);
}
.auth-form p {
  text-align: center;
  padding: 0.5rem 0;
  margin: 0;
}
.auth-form p a {
  color: var(--primary);
}
.auth-form p a:hover {
  text-decoration: underline;
}

.page-title {
  margin: 1rem 2rem;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.movie-preference-form {
  border: 1px solid var(--accent);
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 12px;
  height: calc(100dvh - 4rem - 2rem - 60px - 1.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movie-preference-form .search {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie-preference-form .search i {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--accent);
  border-radius: 6px;
}
.movie-preference-form .search input {
  height: 2rem;
  flex: 1;
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px solid var(--accent);
  border-radius: 0;
  background-color: transparent;
  color: var(--text);
}
.movie-preference-form .search input::placeholder {
  color: var(--accent);
}
.movie-preference-form .search input:focus {
  outline: none;
  border-bottom-color: var(--text);
}
.movie-preference-form .result {
  flex: 1;
  border: 1px solid var(--accent);
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-rows: 100%;
  place-items: center;
}
.movie-preference-form .selected-movies {
  height: 40%;
  border: 1px solid var(--accent);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background);
  position: relative;
}
.movie-preference-form .selected-movies h3 {
  padding: 0;
  margin: 0.5rem 1rem 0 1rem;
  height: 1.5rem;
}
.movie-preference-form .selected-movies .list {
  flex: 1;
  border: 1px solid var(--accent);
  margin: 0 1rem 1rem 1rem;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.movie-preference-form .selected-movies .list .card {
  margin: 1rem 0.5rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-preference-form .commands {
  height: 30px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
.movie-preference-form .commands button {
  padding: 0.25rem 2rem;
  border: 1px solid var(--accent);
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  transition: scale 0.3s;
}
.movie-preference-form .commands button:hover {
  scale: 1.1;
}

.card {
  height: calc(100% - 2rem);
  width: auto;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--accent);
  border-radius: 12px;
  transition: scale 0.3s;
}
.card img {
  height: 100%;
}
.card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  color: white;
}
.card .card-content h3 {
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1rem;
  margin: 0;
}
.card .card-content span {
  font-size: 0.5rem;
}
.card:hover {
  scale: 1.1;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Nunito" !important;
  margin: 0;
  padding: 60px 0 0 0;
}
body.light {
  --text: #0c120e;
  --background: #f9fbfa;
  --primary: #689d7b;
  --secondary: #a3c3be;
  --accent: #88acb1;
}
body.dark {
  --text: #edf3ef;
  --background: #040605;
  --primary: #639776;
  --secondary: #3c5d58;
  --accent: #2f474b;
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  color: var(--text);
  font-family: "Nunito";
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

input {
  font-family: "Nunito";
}

/*# sourceMappingURL=main.css.map */
