@import 'components/variables';
@import 'components/form';
@import 'layout/navbar';
@import 'components/mpform';
@import 'components/container';


@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.ttf') format('truetype');
}
$font-family: 'Poppins', sans-serif;

body {
    &.light {
        @include theme(light);
    }

    &.dark {
        @include theme(dark);
    }
    
    background-color: var(--background);
    color: var(--text);
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    color: var(--text);
    font-family: $font-family;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
