.auth-form {
  width: 275px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border: 1px solid var(--accent);
}
.auth-form .form-group {
  display: flex;
  flex-direction: column;
}
.auth-form .form-group input {
  border: none;
  height: 33px;
  border: 1px solid var(--accent);
  border-bottom-width: 0.5px;
  border-top-width: 0.5px;
  padding: 0 0.5rem;
  outline: none;
  background-color: var(--primary);
  color: var(--text);
}
.auth-form .form-group input::placeholder {
  color: var(--text);
  opacity: 0.85;
}
.auth-form .form-group input:first-child {
  border-radius: 6px 6px 0 0;
  border-top-width: 1px;
}
.auth-form .form-group input:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom-width: 1px;
}
.auth-form .form-group input:focus {
  outline: 2px solid var(--accent);
  z-index: 10;
}
.auth-form input[type=submit] {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  align-self: center;
  background-color: var(--primary);
  color: var(--text);
  align-self: center;
  border: 1px solid var(--accent);
}
.auth-form input[type=submit]:hover {
  scale: 1.1;
}
.auth-form .form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin: 0;
  padding: 1rem 0;
}
.auth-form .alert {
  text-align: center;
  padding: 0 0 1rem 0;
  color: rgb(245, 74, 74);
}
.auth-form hr {
  margin: 1rem 0;
  border: 0.5px solid var(--accent);
}
.auth-form p {
  text-align: center;
  padding: 0.5rem 0;
  margin: 0;
}
.auth-form p a {
  color: var(--primary);
}
.auth-form p a:hover {
  text-decoration: underline;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar .collapse {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar-menu .nav-item:hover .nav-link {
  color: var(--primary);
}
.navbar .tools {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .tools .theme-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--accent);
  border-radius: 6px;
}
.navbar .tools p span {
  color: var(--primary);
}
.navbar .tools p a {
  color: var(--accent);
}
.navbar .tools p a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
}
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}
body.light {
  --text: #0c120e;
  --background: #f9fbfa;
  --primary: #689d7b;
  --secondary: #a3c3be;
  --accent: #88acb1;
}
body.dark {
  --text: #edf3ef;
  --background: #040605;
  --primary: #639776;
  --secondary: #3c5d58;
  --accent: #4f7378;
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
