@import 'util/variables';
@import 'layout/navbar';
@import 'components/auth-form';
@import 'components/mpform';
@import 'components/card';

body {
    &.light {
        @include theme(light);
    }

    &.dark {
        @include theme(dark);
    }
    
    background-color: var(--background);
    color: var(--text);
    font-family: $font-family !important;
    margin: 0;
    padding: $navbar-height 0 0 0;
}

a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    color: var(--text);
    font-family: $font-family;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

input {
    font-family: $font-family;
}