@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.ttf") format("truetype");
}
.btn {
  width: 8rem;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: var(--primary);
  color: var(--text);
  border: 0.0625rem solid var(--accent);
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--secondary);
}

.opt {
  width: 100%;
  height: 1.5rem;
  border: 0.0625rem solid var(--accent);
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}
.opt.like {
  background-color: #3d62db;
  border-color: #2f50ba;
}
.opt.like:hover {
  background-color: #2f50ba;
}
.opt.dislike {
  background-color: #db3d3d;
  border-color: #a02020;
}
.opt.dislike:hover {
  background-color: #a02020;
}
.opt.overview {
  background-color: #4caf50;
  border-color: #388e3c;
}
.opt.overview:hover {
  background-color: #388e3c;
}
.opt.remove {
  background-color: #7e7e7e;
  border-color: #454545;
}
.opt.remove:hover {
  background-color: #454545;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}

.card {
  height: calc(100% - 2rem);
  width: auto;
  position: relative !important;
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  transition: scale 0.3s;
  margin: 0 1rem;
  cursor: pointer;
}
.card .card-body {
  position: absolute;
  top: 100%;
  right: -0.0625rem;
  bottom: auto;
  left: -0.0625rem;
  z-index: 5;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--background);
  border: 0.0625rem solid var(--accent);
  overflow: hidden;
}
.card .card-body .card-title {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card a {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.card a img {
  height: 100%;
  border-radius: calc(0.5rem - 1px);
}
.card:not(:has(.card-body)) {
  transition: 0.3s ease-in-out;
}
.card:hover:has(.card-body) {
  border-radius: 0.5rem 0.5rem 0 0;
}
.card:hover:has(.card-body) img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.card:hover:has(.card-body) .card-body {
  display: flex;
}
.card:hover:not(:has(.card-body)) {
  transform: scale(1.08);
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90%, 300px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0.5rem;
  border: 0.0625rem solid var(--accent);
  border-radius: 1rem;
}
.auth-form .title {
  padding: 0.5rem 0;
  margin: 0;
}
.auth-form .error {
  padding: 0 0 0.5rem 0;
  margin: 0;
  color: rgb(225, 102, 102);
}
.auth-form .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: calc(100% - 1rem);
  height: auto;
  position: relative;
}
.auth-form .input-group .input {
  width: calc(100% - 1rem);
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary);
  color: var(--text);
  border: 0.0625rem solid var(--accent);
  border-bottom-width: 0.03125rem;
  border-top-width: 0.03125rem;
}
.auth-form .input-group .input::placeholder {
  color: var(--text);
  opacity: 0.7;
}
.auth-form .input-group .input:focus {
  outline: none;
}
.auth-form .input-group .input:first-child {
  border-top-width: 0.0625rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.auth-form .input-group .input:last-child {
  border-bottom-width: 0.0625rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.auth-form .submit {
  margin: 1rem 0 0.5rem 0;
}
.auth-form hr {
  width: 100%;
  border: none;
  border-top: 0.0625rem solid var(--accent);
}
.auth-form .alt-option {
  padding: 0.5rem 0;
  margin: 0;
}
.auth-form .alt-option a {
  text-decoration: none;
  color: var(--primary);
}
.auth-form .alt-option a:hover {
  text-decoration: underline;
}
.auth-form select {
  font: "Nunito";
}

.container {
  border: 0.0625rem solid var(--accent);
  border-radius: 0.5rem;
  position: relative;
}

.filter {
  width: 100%;
  height: 1.875rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.filter input {
  height: 100%;
  flex: 3;
  background-color: var(--background);
  border: 0.0625rem solid var(--accent);
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: var(--text);
}
.filter input::placeholder {
  color: var(--text);
  opacity: 0.7;
}
.filter input:focus {
  outline: none;
}
.filter .filter-options {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.filter .filter-options .filter-option {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.filter .filter-options .filter-option select {
  flex: 1;
  height: 1.875rem;
  background-color: var(--background);
  border: 0.0625rem solid var(--accent);
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: var(--text);
  cursor: pointer;
}
.filter .filter-options .filter-option select:focus {
  outline: none;
}
.filter .filter-options .filter-option select option {
  background-color: var(--background);
  color: var(--text);
}
.filter .filter-options .filter-option select::-ms-expand {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 4rem;
  border-bottom: 0.0625rem solid var(--accent);
  padding: 0 4rem;
  background-color: var(--background);
  z-index: 5;
  display: flex;
  gap: 2rem;
}
.navbar .brand-icon {
  width: 90px;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
.navbar .brand-icon img {
  height: 80%;
  width: auto;
}
.navbar .accessability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  gap: 2rem;
  flex: 1;
}
.navbar .accessability .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 2rem;
}
.navbar .accessability .nav-menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: var(--text);
}
.navbar .accessability .nav-menu a:hover {
  color: var(--primary);
}
.navbar .accessability .nav-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 1rem;
}
.navbar .accessability .nav-tools span {
  color: var(--primary);
}
.navbar .accessability .nav-tools a:hover {
  color: var(--secondary);
}
.navbar .accessability .nav-tools .nav-search {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: var(--background);
  border: 0.0625rem solid var(--accent);
  transition: none;
  padding: 0 0.5rem;
  color: var(--text);
}
.navbar .accessability .nav-tools .nav-search::placeholder {
  color: var(--text);
  opacity: 0.7;
}
.navbar .accessability .nav-tools .nav-search:focus {
  outline: 2px solid var(--primary);
}
.navbar .accessability .nav-tools .theme-toggler {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: var(--secondary);
  transition: none;
}
.navbar .accessability .nav-tools .theme-toggler:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

.page-title h1 {
  margin: 1rem 0 0 0;
  padding: 0;
  font-size: 1.5rem;
}
.page-title hr {
  margin: 0.5rem 0 1rem 0;
  border: none;
  border-top: 0.0625rem solid var(--accent);
  border-color: var(--text);
  opacity: 0.4;
}

.search-results-main {
  position: fixed;
  top: 4.0625rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  z-index: 5;
  display: none;
}
.search-results-main .results-body {
  border: 0.0625rem solid var(--accent);
  margin: 2rem;
  height: calc(100% - 4rem);
  border-radius: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-rows: 200px;
  gap: 0.5rem;
  place-items: center;
}
.search-results-main .results-body p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.footer {
  border-top: 0.0625rem solid var(--accent);
  text-align: center;
  margin-top: calc(1.5rem - 1px);
}
.footer p {
  margin: 1rem;
  padding: 0;
}

.recommended-movies {
  height: 225px;
  max-height: 225px;
  margin-top: 1rem;
  position: relative;
  overflow-y: visible;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.recommended-movies > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.preferences {
  width: auto;
  height: calc(100dvh - 4rem - 1.5rem - 2rem - 4rem - 0.125rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}
.preferences .titles {
  height: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.preferences .titles .title {
  flex: 1;
  text-align: center;
  font-weight: 600;
}
.preferences .sort {
  flex: 1;
  position: relative;
  min-height: calc(100% - 4.5rem - 3rem);
  max-height: calc(100% - 4.5rem - 3rem);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.preferences .sort .section {
  flex: 1;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-auto-rows: 200px;
  gap: 0.5rem;
  place-items: center;
}
.preferences .sort .section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.preferences .sort #liked {
  border-color: #2f50ba !important;
}
.preferences .sort #disliked {
  border-color: #a02020 !important;
}
.preferences .options {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
}
.preferences .options .btn {
  height: 100%;
}
.preferences .options a:hover {
  text-decoration: underline;
  color: var(--primary);
}

#team {
  text-align: center;
  padding: 0 50px;
}
#team h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}
#team .team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#team .team-members .team-member {
  width: 200px;
  text-align: center;
}
#team .team-members .team-member .team-photo {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 0.125rem solid var(--accent);
}
#team .team-members .team-member h3 {
  font-size: 1.2em;
  margin: 0;
}
#team .team-members .team-member p {
  margin: 0;
  font-size: 1em;
  color: #555;
}

#brief {
  margin-bottom: 2rem !important;
}
#brief h3, #brief h2 {
  font-size: 1.5em;
  color: var(--primary);
}
#brief strong {
  color: var(--secondary);
}

.container.overview {
  margin: 1rem 0;
}
.container.overview hr {
  margin: 0 1rem;
  border: 0.5px solid var(--secondary);
}
.container.overview .movie-overview {
  transition: padding-bottom 0.3s ease;
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  gap: 4rem;
  overflow: hidden;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.container.overview .movie-overview .poster-container {
  margin: 0;
  padding: 0;
}
.container.overview .movie-overview .poster-container .poster {
  height: 450px;
  border: 0.0625rem solid var(--accent);
  border-radius: 0.5rem;
}
.container.overview .movie-overview .movie-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 450px;
}
.container.overview .movie-overview .movie-details .brief-description h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.container.overview .movie-overview .movie-details .brief-description p {
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}
.container.overview .movie-overview .movie-details .brief-description p span {
  font-size: 10px;
  display: flex;
  align-items: center;
}
.container.overview .movie-overview .movie-details .score-container {
  margin: 1rem 0;
}
.container.overview .movie-overview .movie-details .score-container .score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.container.overview .movie-overview .movie-details .score-container .score .rating-indicator {
  background-color: grey;
  height: 22px;
  width: 69px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 2px solid #4d4d4d;
}
.container.overview .movie-overview .movie-details .description h2 {
  margin: 0;
  padding: 0;
  color: var(--primary);
}
.container.overview .movie-overview .movie-details .description p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.container.overview .movie-overview .movie-details .trailer-button {
  margin-top: 1rem;
}
.container.overview .movie-overview .movie-details #trailer-container {
  transition: height 0.3s ease;
  width: 100%;
  margin-top: 0.5rem;
}
.container.overview .movie-overview .movie-details .stop-btn {
  transition: opacity 0.3s ease;
}
.container.overview .movie-overview .movie-details .provider-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.container.overview .movie-overview .movie-details .provider-logos .provider {
  width: 33px;
  height: 33px;
  position: relative;
}
.container.overview .movie-overview .movie-details .provider-logos .provider img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.container.overview .movie-overview .movie-details .people {
  margin: 1rem 0;
}
.container.overview .movie-overview .movie-details .people span {
  color: var(--primary);
}
.container.overview .user-reviews {
  padding: 1rem 2rem;
  padding-top: 0;
}
.container.overview .user-reviews .form-group label {
  color: var(--primary);
}
.container.overview .user-reviews .form-group input[type=number] {
  background-color: var(--background);
  border: 0.0625rem solid var(--accent);
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 3rem;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
.container.overview .user-reviews .form-group input[type=number]:focus {
  outline: none;
}
.container.overview .user-reviews .form-group textarea {
  width: calc(100% - 1rem);
  height: 150px;
  background-color: var(--background);
  border: 0.0625rem solid var(--accent);
  border-radius: 0.5rem;
  color: var(--text);
  padding: 0.5rem;
  margin: 0.5rem 0;
  resize: none;
  font-size: 15px;
}
.container.overview .user-reviews .form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.753);
}
.container.overview .user-reviews .form-group textarea:focus {
  outline: 2px solid rgb(51, 116, 228);
}
.container.overview .user-reviews button[type=submit] {
  margin: 0.5rem 0;
}
.container.overview .user-reviews hr {
  margin: 1rem 0;
  border: 0.5px solid var(--secondary);
}
.container.overview .user-reviews .review {
  margin: 1rem 0;
  border: 0.0625rem solid var(--accent);
  padding: 0.5rem 1rem;
}
.container.overview .user-reviews .review .about-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 30px;
}
.container.overview .user-reviews .review .about-user .user {
  color: var(--primary);
}
.container.overview .user-reviews .review .about-user .rating-indicator {
  background-color: grey;
  height: 22px;
  width: 69px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 2px solid #4d4d4d;
}
.container.overview .user-reviews .review .about-user .created_at {
  flex: 1;
  justify-self: flex-end;
  text-align: right;
  opacity: 0.7;
}
.container.overview .user-reviews .review .replies {
  margin-top: 1rem;
}
.container.overview .user-reviews .review .replies .reply {
  border: 0.0625rem solid var(--accent);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Nunito" !important;
  padding: 4rem 2rem 0 2rem;
  margin: 0;
}
body.light {
  --text: #0c120e;
  --background: #f9fbfa;
  --primary: #689d7b;
  --secondary: #a3c3be;
  --accent: #88acb1;
}
body.dark {
  --text: #edf3ef;
  --background: #040605;
  --primary: #639776;
  --secondary: #3c5d58;
  --accent: #2f474b;
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  color: var(--text);
  font-family: "Nunito";
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

input {
  font-family: "Nunito";
}

/*# sourceMappingURL=styles.css.map */
