{% extends "page.html" %}
{% load static %}

{% block title %} Cinematica | Preferences {% endblock %}

{% block extra_js %}
    <script src="{% static 'js/preferences.js' %}" type="module"></script>
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <h1>Preferences</h1>
    </div>
    <div class="container preferences">
        <div class="filter" id="filter">
            <input type="text" id="search" placeholder="Search for a movie...">
            <div class="filter-options">
                <div class="filter-option">
                    <label for="genre">Genre</label>
                    <select name="genre" id="genre">
                        <option value="all">All</option>
                        <option value="28">Action</option>
                        <option value="12">Adventure</option>
                        <option value="16">Animation</option>
                        <option value="35">Comedy</option>
                        <option value="80">Crime</option>
                        <option value="18">Drama</option>
                        <option value="14">Fantasy</option>
                        <option value="27">Horror</option>
                        <option value="9648">Mystery</option>
                        <option value="10749">Romance</option>
                        <option value="878">Sci-Fi</option>
                        <option value="53">Thriller</option>
                    </select>
                </div>
                <div class="filter-option">
                    <label for="rating">Rating</label>
                    <select name="rating" id="rating">
                        <option value="all">All</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div class="filter-option">
                    <label for="year">Year</label>
                    <select name="year" id="year">
                        <option value="all">All</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="titles">
            <div class="title all-movies">All Movies</div>
            <div class="title liked">Liked Movies</div>
            <div class="title disliked">Disliked Movies</div>
        </div>
        <div class="sort">
            <div class="container section all-movies" id="all">
            
            </div>
            <div class="container section liked" id="liked">

            </div>
            <div class="container section disliked" id="disliked">

            </div>
        </div>
        <div class="options">
            <div class="btn" onclick="savePreferences()" id="save-preferences">Save</div>
            <a href="{% url 'core:home' %}">Cancel</a>
        </div>
    </div>
{% endblock %}
