.recommended-movies {
    height: calc(100dvh - $navbar-height - $input-height - 6 * $margin-md - $font-xl - $padding-md - $border-size-md * 2);
    max-height: calc(100dvh - $navbar-height - $input-height - 6 * $margin-md - $font-xl - $padding-md - $border-size-md * 2);
    margin-top: $margin-md;
    padding: $padding-md;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 225px;
    gap: $gap-sm;
    place-items: center;


    > p{
        @include position-center(true, true);
        margin: 0;
        padding: 0;
        font-size: $font-xl;
    }
}
