$auth-form-width: 275px;
$input-height: 33px;

.auth-form {
    width: $auth-form-width;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $padding;
    border-radius: $border-radius-lg;
    display: flex;
    flex-direction: column;
    border: $border-size solid var(--accent);

    .form-group {
        display: flex;
        flex-direction: column;
         
        input {
            border: none;
            height: $input-height;
            border: $border-size solid var(--accent);
            border-bottom-width: calc($border-size / 2);
            border-top-width: calc($border-size / 2);
            padding: 0 $padding-sm;
            outline: none;
            background-color: var(--primary);
            color: var(--text);

            &::placeholder {
                color: var(--text);
                opacity: 0.85;
            }

            &:first-child {
                border-radius: $border-radius $border-radius 0 0;
                border-top-width: $border-size;
            }

            &:last-child {
                border-radius: 0 0 $border-radius $border-radius;
                border-bottom-width: $border-size;
            }

            &:focus {
                outline: $border-size-lg solid var(--accent);
                z-index: 10;
            }
        }
    }

    input[type="submit"] {
        border: none;
        border-radius: $border-radius;
        padding: $padding-sm;
        margin: $margin 0 0 0;
        cursor: pointer;
        transition: $transition;
        width: 50%;
        align-self: center;
        background-color: var(--secondary);
        color: var(--text);
        align-self: center;
        border: $border-size solid var(--accent);


        &:hover {
            scale: 1.1;
        }
    }

    .form-title {
        text-align: center;
        margin-bottom: $spacing;
        margin: 0;
        padding: $padding 0;
    }

    .alert {
        text-align: center;
        padding: 0 0 $padding 0;
        color: rgb(245, 74, 74);
    }

    hr {
        margin: $margin 0;
        border: calc($border-size / 2) solid var(--accent);
    }

    p {
        text-align: center;
        padding: $padding-sm 0;
        margin: 0;

        a {
            color: var(--primary);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}