.card {
    height: calc(100% - $spacing * 2);
    width: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--accent);
    border-radius: $border-radius-lg;
    transition: scale 0.3s;

    img {
        height: 100%;
    }

    .card-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        height: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        color: white;

        h3 {
            overflow: hidden;
            font-size: 1rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 $padding;
            margin: 0;
        }

        span {
            font-size: 0.5rem;
            
        }
    }

    &:hover {
        scale: 1.1;
    }
}