.card {
    height: calc(100% - 2 * $padding-md);
    width: auto;
    position: relative !important;
    border: 1px solid var(--accent);
    border-radius: $border-radius-sm;
    transition: scale 0.3s;
    margin: 0 $margin-md;
    cursor: pointer;

    .card-body {
        @include absolute(100%, -$border-size-md, auto, -$border-size-md);
        z-index: $z-2;
        padding: $padding-sm;
        display: none;
        flex-direction: column;
        gap: $gap-sm;
        border-radius: 0 0 $border-radius-sm $border-radius-sm;
        background-color: var(--background);
        border: $default-border;
        overflow: hidden;

        .card-title {
            padding: 0;
            margin: 0;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    a {
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;

        img {
            height: 100%;
            border-radius: calc($border-radius-sm - 1px);
        }
    }

    &:not(:has(.card-body)) {
        transition: $transition-regular;
    }

    &:hover {
        &:has(.card-body) {
            border-radius: $border-radius-sm $border-radius-sm 0 0;

            img {
                border-radius: $border-radius-sm $border-radius-sm 0 0;
            }

            .card-body {
                display: flex;
            }
        }

        &:not(:has(.card-body)) {
            transform: scale(1.08);
        }
    }
}