.movie-cards-container {
    height: calc(100dvh - $margin * 5 - 1.5rem - $navbar-height);
    border: $border-size solid var(--accent);
    border-radius: $border-radius-lg;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 33.3%;
    place-items: center;
    margin: 0 $margin $margin-md $margin;

    .card {
        margin: calc($spacing / 2) $margin-sm;
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 0.75em;
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 0.5em;
            margin: 0;
            padding: 0;
        }
    }
}