// Define theme maps
$themes: (
    light: (
        text: #0c120e,
        background: #f9fbfa,
        primary: #689d7b,
        secondary: #a3c3be,
        accent: #88acb1
    ),
    dark: (
        text: #edf3ef,
        background: #040605,
        primary: #639776,
        secondary: #3c5d58,
        accent: #4f7378
    )
);

// Mixin to apply theme styles
@mixin theme($theme) {
    $theme-map: map-get($themes, $theme);
  
    // Loop through the theme map and apply styles
    @each $key, $value in $theme-map {
        --#{$key}: #{$value};
    }
}

// Borders
$border-size: 1px;
$border-size-lg: 2px;
$border-radius: 6px;
$border-radius-lg: 12px;

// Transitions
$transition-slow: 0.4s;
$transition: 0.3s;
$transition-fast: 0.2s;

// Shadows
$shadow-sm: 0 3px 6px rgba(0, 0, 0, 0.1);
$shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
$shadow-lg: 0 9px 18px rgba(0, 0, 0, 0.4);

// Spacing
$spacing: 1rem;

$padding-xs: 0.25 * $spacing;
$padding-sm: 0.5 * $spacing;
$padding: $spacing;
$padding-md: 2 * $spacing;
$padding-lg: 4 * $spacing;

$margin-xs: 0.25 * $spacing;
$margin-sm: 0.5 * $spacing;
$margin: $spacing;
$margin-md: 2 * $spacing;
$margin-lg: 4 * $spacing;